.banner1{ 
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(247,249,250,1) 35%, rgba(235,235,236,1) 100%);
background: url(assets/images/greybg.png) repeat-y;
}
.banner1.app-holder .app-desc  h3{
    color: black;
 }

 .banner1 h2{
    font-size: 54px;
    font-size: 53px;

    /* font-family: 'Segoe UI', 'San Francisco Display', Tahoma, Geneva, Verdana, sans-serif; */

    line-height: 70px;
    color: #000;
    font-weight: 700;
 }

 .banner1 ul{
line-height: 28px;
font-size: 16px;
color:  #3D3D3D;
margin-bottom: 20px;
 }


 .banner1 ul li{
    
 }
 .banner1 ul li:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("assets/images/tick1.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px; /* Adjust the margin as needed */
    vertical-align: middle;
  }
 .banner1 ul li strong{
    
 }

 .banner1 .btn{ 

 border: 1px solid #8F42A9;
 

 color:  #8F42A9;
 
    /* font-family: Segoe UI; */
font-size: 18px;
font-weight: 700;
line-height: 24px;
text-align: center;

 }

.banner1 .btn:hover{
    background-color: #8F42A9;
    color: #fff;
}
.banner1 .btn.dark{

    background-color: #8F42A9;
    color: #fff;
 }
 .banner1 .btn.dark:hover{
    background-color: #fff;
    color: #8F42A9;
 }

.why_bb{

    margin-top: 60px;
    margin-bottom: 60px;
}

.why_bb h2{
    font-size: 50px;
    text-align: center;
   
    /* font-family: 'Segoe UI', 'San Francisco Display', Tahoma, Geneva, Verdana, sans-serif; */
    line-height: 66px;
    color: #000;
    font-weight: 600;


    
}
.why_bb .panel{
    border: 0;
}
.why_bb .panel-heading .accordion-toggle:after {
   /* symbol for "opening" panels */
   font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
   content: "\e114";    /* adjust as needed, taken from bootstrap.css */
   float: right;        /* adjust as needed */
   color: grey;         /* adjust as needed */
}
.why_bb .panel-heading .accordion-toggle.collapsed:after {
   /* symbol for "collapsed" panels */
   content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.why_bb .panel-heading {
    background: none;
    padding-left: 0;

font-size: 27px;
font-weight: 600;
line-height: 38px;
text-align: left;



}
.why_bb .panel-body{
    padding-left: 0;
}

.navbar-light{
    background: #fff;

}
ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }
.dropdown-toggle::after { 
margin-left: .255em;
vertical-align: .255em;
content: "";

border-right: .3em solid transparent;
border-bottom: 0;
border-top: 0;
border-left: .3em solid transparent;
content: "\f282";

font-family: bootstrap-icons !important;

vertical-align: -.125em;
-webkit-font-smoothing: antialiased;
float: right;
vertical-align: middle;


}