
/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.banner_2 {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(247,249,250,1) 35%, rgba(235,235,236,1) 100%);
    background: url(/assets/img/bb/greybg.png) repeat-y;
}

.banner_2 .b2_container {
    padding-top: 40px;
  }
.banner_2 .content {
    background-color: color-mix(in srgb, var(--accent-color), transparent 95%);
    padding: 40px;
  }
  
  .banner_2 .content h3 {
    font-size: 14px;
    font-weight: 700;
    color: var(--accent-color);
    text-transform: uppercase;
  }
  
  .banner_2 .content h2 {
    font-size: 24px;
    font-weight: 700;
  }
  
  .banner_2 .content p {
    margin: 15px 0 30px 0;
    line-height: 24px;
  }
  
  .banner_2 .content .btn-read-more {
    color: var(--contrast-color);
    background: var(--accent-color);
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
  }
  
  .banner_2 .content .btn-read-more span {
    font-family: var(--default-font);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
  }
  
  .banner_2 .content .btn-read-more i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
  }
  
  .banner_2 .content .btn-read-more:hover i {
    transform: translateX(5px);
  }

  @media (min-width: 1200px) {
    .b2_container{
        max-width: 1322px;
      }
  }