
/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.why_us {
  padding-top: 0 !important;
}
.why_us h2{

  font-size: 50px;
  text-align: center;

  line-height: 66px;
  color: #000;
  font-weight: 600;
}

.why_us .w_container {
    padding-top: 40px;
  }

  


  
  


  
/*--------------------------------------------------------------
# Why Us Faq Section
--------------------------------------------------------------*/
.why_us .faq-container .faq-item {
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
  overflow: hidden;
}

.why_us .faq-container .faq-item:last-child {
  margin-bottom: 0;
}

.why_us .faq-container .faq-item h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0 30px 0 0;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
    
font-size: 27px;
font-weight: 600;
line-height: 38px;
color:  #3D3D3D;
}
.why_us .faq-container .faq-active h3 {
  color:  #3D3D3D;


text-align: left;

}
.why_us .faq-container .faq-item h3 .num {
  color: var(--accent-color);
  padding-right: 5px;
}

.why_us .faq-container .faq-item h3:hover {
  color: var(--accent-color);
}

.why_us .faq-container .faq-item .faq-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  display: none;
}

.why_us .faq-container .faq-item .faq-content p {
  margin-bottom: 0;
  overflow: hidden;
  
font-size: 22px;
font-weight: 400;
line-height: 38px;
text-align: left;
padding-right: 50px;


}

.why_us .faq-container .faq-item .faq-toggle {
  position: absolute;
  top: 35px;
  right: 20px;
  font-size: 16px;
  line-height: 0;
  transition: 0.3s;
  cursor: pointer;
}

.why_us .faq-container .faq-item .faq-toggle:hover {
  color: var(--accent-color);
}



.why_us .faq-container .faq-active .faq-content {
  grid-template-rows: 1fr;
  visibility: visible;
  opacity: 1;
  padding-top: 10px;
  display: block;
}

.why_us .faq-container .faq-active .faq-toggle {
  transform: rotate(90deg);
  /* color: var(--accent-color); */
}
.why_us .faq-container a i:before {
  content: "\f135";
  position: relative;
  top: 3px;
  font-size: 30px;

}
.why_us .faq-content span{ 

font-size: 24px;
font-weight: 600;
line-height: 35.83px;
text-align: center;
text-transform: uppercase;
}
.why_us .faq-content a { display: inline; }
/*--------------------------------------------------------------
# Why Us Faq Section End
--------------------------------------------------------------*/

  @media (min-width: 1200px) {
    .w_container{
        max-width: 1322px;
      }
  }